
# dependencies
/node_modules


npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore system files and directories
.DS_Store
Thumbs.db

# Ignore Node.js dependencies
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json



